<body>
    
    

    <section class=" cont">
       
      <app-contact></app-contact>    
    </section>

    <section class="ubicacion1">
        <br>
         <h1 
        style="color:white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;" >
            Casa A la</h1>
            <h1 
            style="color:white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 65px;" >
                Malicia Bar</h1>
            
            <br>
            
        

            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.7739981553705!2d-3.713742384604159!3d40.41385717936544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287869eee4eb%3A0x5fc4c26700e06c3f!2sCasa%20a%20la%20Malicia%20Bar!5e0!3m2!1ses-419!2ses!4v1659763572254!5m2!1ses-419!2ses" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            <br>           
            <h2  style="color:white;
            font-family: optima, Times, serif;
            font-size: 30px;
            "> Calle de Segovia, 16, 28005 Madrid</h2>


            
        
    </section>
     
    <section>

        <app-catalog></app-catalog>
    </section>
    <section>
        <h1>carta</h1>
      
      
  </section>


  </body>


