
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * *<app-header></app-header> * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * **ngIf="isCartVisible/app-shopping-cart" * * * * * * * * * * * * * * * * -->

<app-home>

</app-home>
<!-- <app-header
  (toggleCartVisibility)="toggleCartVisibility()"
  (toggleMenu)="showMenu()">
</app-header>

<app-nav-drawer
*ngIf="isMenuOpened"
(closeDrawer)="hideMenu()"
></app-nav-drawer> 
<!-- <app-home></app-home> -->
<!-- <app-shopping-cart *ngIf="isCartVisible"></app-shopping-cart>   --> -->


<router-outlet></router-outlet>